#searchLabel {
  font-family: Montserrat, sans-serif;
  margin-top: 20px;
  margin-bottom: 60px;
}

#searchTxt {
  width: 100%;
  padding: 0;
  font-size: 22px;
  margin: 0;
  text-align: center;
}

.label-active {
  top: -35px !important;
  color: black !important;
  font-size: 1.1em !important;
}

.line {
  background: #4cd137 !important;
}

.input {
  text-align: center;
}

#searchDiv {
  left: 100px;
  width: 80%;
}
